*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    background-color: rgb(110, 209, 241);
}
.card{
    padding: 80px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow:  11px 11px 5px -4px #0c96a7;
}
.card p{
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: bold;
}
.input-section input{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid;  
    font-size: 1rem;
    color: black;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}
.input-section button{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid;  
    font-size: 1rem;
    color: black;
    font-weight: bolder;
    background-color: white;
    margin-top: 10px;
    height: 40px;
    width: 240px;
    cursor: pointer;
    transition: all;
    transition-duration: 1s;
}
.input-section button:hover{
    transition: all;
    transition-duration: 1s;
    color: white;
    background-color: #0c96a7;
    border: 2px solid#0c96a7;
}